<!DOCTYPE html>
<html>
<head>
<style>

/* Sign Out block */
.row.wow.fadeIn.animated {
  margin-top: 2em!important;
}

/* Buttons */

.btn.btn-default {
  background: #b3b3b3!important;
  color: #fff!important;
  margin-right: 0.375rem;
  margin-left: 0!important;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border-radius: 0.375rem;
}



</style>
</head>
</html>

{% extends "account/base.html" %}
{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
  <main>
    <div class="container">
      <section class="mb-4">
        <div class="row wow fadeIn">
          <div class='col-6 offset-3'>
            <h1>{% trans "Sign Out" %}</h1>
            <p>{% trans 'Are you sure you want to sign out?' %}</p>
            <form method="post" action="{% url 'account_logout' %}">
              {% csrf_token %}
              {% if redirect_field_value %}
              <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
              {% endif %}
              <button class='btn btn-default' type="submit">{% trans 'Sign Out' %}</button>
            </form>
          </div>
        </div>
      </section>
    </div>
  </main>
{% endblock %}
