{% extends "base.html" %}




{% block content %}
<style>
    p.a1 {

        font-weight: bolder;
        font-size: 35px;
        margin-top: 50px;
        padding: 20px;
        color: #0076ca;
    }
</style>
<main>
    <div class="container">

        <p class="a1">Terms of Service</p>
        <p><b>&nbsp&nbsp&nbsp&nbsp&nbsp 1. Agreement to Terms</b></p>

        <p>&nbsp&nbsp&nbsp&nbsp&nbsp By viewing or using this website, which can be accessed at notice.studio, you are
            agreeing to be bound by
            all these website’s Terms of Use and agree with &nbsp&nbsp&nbsp&nbsp&nbsp any applicable local laws. If you
            disagree with any of these
            terms, you are prohibited from accessing this Website or using the Service. All materials in this
            &nbsp&nbsp&nbsp&nbsp&nbsp Website
            are protected by trade mark law and copyright.</p>

        <p><b>&nbsp&nbsp&nbsp&nbsp&nbsp 2. Privacy policy</b></p>

        <p>&nbsp&nbsp&nbsp&nbsp&nbsp We advise you to read our privacy policy regarding our user data collection. It
            will help you better
            understand our practices.</p>
        <p><b>&nbsp&nbsp&nbsp&nbsp&nbsp 3. Use License</b></p>

        <p>&nbsp&nbsp&nbsp&nbsp&nbsp Permission is granted to temporarily download one copy of the materials on the
            website for personal,
            non-commercial transitory viewing only.
            This is the &nbsp&nbsp&nbsp&nbsp&nbspgrant of a license, not a
            transfer of title, and under
            this license you may not:

            modify or copy the materials;
            use the materials for any commercial purpose or &nbsp&nbsp&nbsp&nbsp&nbspfor any public display;
            attempt to reverse engineer any software contained on the website;
            remove any copyright or other proprietary notations from the &nbsp&nbsp&nbsp&nbsp&nbspmaterials; or
            transferring the materials to another person or "mirror" the materials on any other server.

            This will let us to terminate upon violations of any of &nbsp&nbsp&nbsp&nbsp&nbspthese restrictions. Upon
            termination, your
            viewing right will also be terminated and you should destroy any downloaded materials in your possession
            whether &nbsp&nbsp&nbsp&nbsp&nbspit is electronic format or printed.</p>

        <p><b>&nbsp&nbsp&nbsp&nbsp&nbsp 4. Disclaimer</b></p>

        <p>&nbsp&nbsp&nbsp&nbsp&nbsp All the materials on the website are provided on an “as is” basis. You agree that
            your use of the wwebsite
            will be at your own risk. We makes no warranties, &nbsp&nbsp&nbsp&nbsp&nbspmay it be expressed or implied,
            therefore negates all
            other warranties. Furthermore, we do not make any representations concerning the accuracy or
            &nbsp&nbsp&nbsp&nbsp&nbspreliability of the use of the materials on its website or otherwise relating to
            such materials or any sites
            linked to this Website.</p>
        <p><b>&nbsp&nbsp&nbsp&nbsp&nbsp 5. Limitations</b></p>

        <p>&nbsp&nbsp&nbsp&nbsp&nbsp We will not be hold accountable for any damages that will arise with the use or
            inability to use the materials on the website. Some jurisdiction does not
            allow &nbsp&nbsp&nbsp&nbsp&nbsp limitations on implied warranties or limitations of liability for incidental
            damages, these
            limitations may not apply to you.</P>

        <p><b>&nbsp&nbsp&nbsp&nbsp&nbsp 6. Modification of Terms of Use</b></p>

        <p>&nbsp&nbsp&nbsp&nbsp&nbsp We may revise or include supplemental terms in these Terms of Service on this
            website from time to time
            without prior notice. Please ensure that you check &nbsp&nbsp&nbsp&nbsp&nbsp the current Terms of Use every
            time you use the Website.
            By using this website, you are agreeing to be bound by the current version of these Terms of
            &nbsp&nbsp&nbsp&nbsp&nbspService.</p>
        <p><b>&nbsp&nbsp&nbsp&nbsp&nbsp 7. Applicable law</b></p>

        <p>&nbsp&nbsp&nbsp&nbsp&nbsp Any claim related to ACME-Campers shall be governed by the laws of Spain without
            regards to its conflict
            of law provisions.</p>

    </div>
</main>

{% endblock content %}

</html>